.toggle {
  background-color: blue;
  height: 20px;
  width: 60px;
  border-radius: 30px;
  /* margin-top: 0px; */
  display: flex;
}

.toggle-left {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 30px;
  margin: 3px;
}

.toggle-right {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 30px;
  margin: 3px 2px 3px 42px;
}
